<div class="main container-fluid" style="height:100%;">
	<div class="row-fluid">
		<ul class="breadcrumb">
		  <li class="sub-link active" data-view="overview">Overview</li>
		  <li class="sub-link" data-view="updates">Updates</li>
		</ul>
	</div>
	<div class="row-fluid" style="height:100%;">
		<div class="span4" style="height:100%;">
			<div class="hud">
				<div class="datetime clearfix">
					<em class="time">16:41</em>
					<div class="date">Thursday<br>22<sup>nd</sup> Dec</div>
					<div class="arbitrary-tiny-divider"></div>
				</div>

				<div class="details">
					<div class="team">Marysville Alpha</div>
					<div class="member">Julian Smith</div>
				</div>

				<div class="overview show">
					<div class="row-fluid">
						<p>Local Data</p>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<p>Temp</p>
							<p>31c</p>
						</div>
						<div class="span6">
							<p>Humidity</p>
							<p>27%</p>
						</div>
					</div>
					<div class="row-fluid">
						<p>Sector Data</p>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<p>Temp</p>
							<p>29c</p>
						</div>
						<div class="span6">
							<p>Humidity</p>
							<p>37%</p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<p>Avg Wind Speed</p>
							<p>25k/h NW</p>
						</div>
						<div class="span6">
							<p>Gust Wind Spd</p>
							<p>55km/h</p>
						</div>
					</div>
				</div>
				<div class="updates hide" style="height: 100%;">
					<div class="row-fluid" style="height: 10%;">
						<div class="span12">
							<p>Updates From:</p>
							<div class="btn-group" id="updates-group" data-toggle="buttons-radio">
								<button class="btn btn-small active" id="updates_all">All</button>
								<button class="btn btn-small" id="updates_sector">Sector</button>
								<button class="btn btn-small" id="updates_team">Team</button>
								<button class="btn btn-small" id="updates_you">You</button>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="messages"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span8" style="height:105%;">
			<div id="map"></div>
		</div>
		<div id="status">
			<em>Warning:</em> Winds due to increase to 95km/hr over the next hour.
		<div>
	</div>
</div>

