// Place all the styles related to the simple controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-fixed-top {
  margin-bottom: 0;
}
.main {
  margin-top: 40px;
}
.breadcrumb {
  padding-bottom: 12px;
  li:hover {
    cursor: pointer;
  }
}
#map {
  height: 700px;
}
.hud {
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px;
  ul {
    margin: 0;
    li {
      display: block;
      text-decoration: none;
    }
  }
}
