// Place all the styles related to the simple controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body,html{
  height:85%;
  font-weight: bold;
  color: white;
}

.navbar-fixed-top {
  margin-bottom: 0;
}
.navbar-inner {
  background: black;
  color: white;
}
.navbar .brand {
  display: none;
}
.navbar .nav > li > a {
  color: white;
  text-shadow: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: none;
  color: red;
}
.main {
  margin-top: 40px;
  height:100%;
}
.breadcrumb {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 50px;
  height: 40px;
  background: black;
  border-radius: 0;
  padding: 0 20px;
  li {
    padding: 10px 15px 10px;
    cursor: pointer;
    text-shadow: none;
    &.active {
      color: red;
    }
  }
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.hud {
  position: absolute;
  z-index: 1;
  top: 125px;
  bottom: 80px;
  overflow: auto;
  border-radius: 10px;
  background: black;
  padding: 10px;
  width: 33%;
  ul {
    margin: 0;
    li {
      display: block;
      text-decoration: none;
    }
  }
}
#status {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  background: black;
  padding: 10px 35px;
  em {
    color: red;
    font-style: normal;
  }
}
@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

.message {
  border: 1px solid lightgrey;
  @include gradient(#ffffff, #e5e5e5);
margin-bottom: 2px;
padding: 10px;
  &:hover {
    @include gradient(#e5e5e5, #ffffff);
    cursor: pointer;
  }
  p {
    margin: 0;
  }
}
