<!DOCTYPE html>
<html>
<head>
  <title>FGIS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">FGIS</a>
  	<ul class="nav pull-right">
  		<li class="show"><a href="#">Status (Live) <i class="icon-circle-arrow-up"></i></a></li>
  		<li class="hidden"><a href="#">Status (Down) <i class="icon-circle-arrow-down"></i></a></li>
		</ul>
    <ul class="nav">
      <li class="active"><a href="#">Live Feed</a></li>
      <li><a href="team">My Team</a></li>
      <li><a href="analyzer">Map Analyzer</a></li>
      <li><a href="recon">Recon</a></li>
    </ul>
  </div>
</div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>